{% extends 'base.html.twig' %}

{% block body %}

    <div typeof="Article">

        <h1 property="name" datatype="rdf:HTML">{{ item.title|raw }}</h1>

        <p property="identifier" typeof="Identifier">
            <span property="propertyID" resource="http://libero.pub/id">ID</span>:
            <span property="value">{{ item.id }}</span>
        </p>

        {% if item.doi|default(null) %}
            <p property="identifier" typeof="Identifier">
                <a href="https://identifiers.org/doi" property="propertyID">DOI</a>:
                <meta property="value" content="{{ item.doi }}">
                <a href="https://doi.org/{{ item.doi }}">{{ item.doi }}</a>
            </p>
        {% endif %}

        {% if item.datePublished|default(null) %}
            <time datetime="{{ item.datePublished|date('Y-m-d') }}"
                  property="datePublished">{{ item.datePublished|date }}</time>
        {% endif %}

        {% if item.description|default(null) %}

            <div property="description" datatype="rdf:HTML">
                {{ item.description|raw }}
            </div>

        {% endif %}

        {% if item.jats|default(null) %}
            <p>View as:</p>
            <ul>
                <li property="encoding" typeof="MediaObject">
                    <a href="{{ item.jats }}" property="contentUrl">
                        <meta property="encodingFormat" content="application/jats+xml">
                        <meta property="inLanguage" content="en">
                        JATS XML
                    </a>
                </li>
            </ul>
        {% endif %}

    </div>

{% endblock body %}
